body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spaceIt {
  margin-bottom: 0.3rem !important;
}

.dropdown{
  margin-right: 5px;
}


.fixed-height-card-header {
  height: 58px;
}

.game-form {
  width: 70%;
  max-width: 100%;
  margin: 0 auto;
}

.changeBackground:hover {
  background-color: #C8EBC7;
  border-radius: 5px;
}


/*change colour of class changeBackground to darker variant D9FFD8 on clicked and make it rounder*/
.changeBackground:active {
  background-color: #99b998;
  border-radius: 10px;
}

.changeBackground .dropdown-item:focus {
  background-color: #e4ebe4;
  color: black;
}

